.FormGroup {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.Input input:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

.Input {
  outline: none !important;
  box-shadow: none !important;
}

.Input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
